//variable

//color
$colorLink:aquamarine;

//font size
$fontMini:11px;
$fontDefault:12px;
$fontButton:13px;
$fontSmall:14px;
$fontMiddle:15px;
$fontBig:18px;
$fontLarge:20px;
$fontXLarge:30px;


//img


// craft size


// radius
$radius:5px;
$radiusSmall:3px;

//line-height
$lineheight:1.5;
$lineheightSmall:1.2;