.contain-animation {
  height: 350px;
}

.contain-bear {
  position: relative;
  margin: -50px auto;
  width: 575px;
  height: 200px;
}

.cover {
  position: absolute;
  top: -40px;
  left: 0;
  background: #8fd5d5;
  height: 150px;
  width: 675px;
  animation: walk 7s steps(7, end) infinite;
  -webkit-animation: walk 7s steps(7, end) infinite;
}

@keyframes walk {
  to {
    transform: translateX(675px);
  }
}

@-webkit-keyframes walk {
  to {
    -webkit-transform: translateX(675px);
  }
}
